body, html {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

*:focus {
  outline: 0;
  outline: none;
}

/*overlay code from: https://cneidson.github.io/hazards/*/
.overlay {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-image: url("https://s3-prod.crainsnewyork.com/eviction%20ban%20protest%20in%20new%20york%20city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay-content {
  position: relative;
  width: 50%;
  max-width: 600px;
  top: 25%;
  left: 28.5%;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
  color: #d5d5d5;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
  border: 4px solid rgba(0, 0, 0, 0.7);
}

.overlay-content h1 {
  line-height: 40px;
  text-align: center;
  padding: 5px;
}

.overlay a, .overlay a:visited {
  text-decoration: none;
  color: #DC143C;
}

.overlay a:hover {
  text-decoration: underline;
}

#overlay-button {
  background: black;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px;
  font-size: 22px;
  border: 4px solid rgba(0, 0, 0, 0.9);
  font-family: 'Open Sans', sans-serif;
  outline: 0;
  outline: none;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.credit {
  font-size: 9px;
  line-height: 10px;
}

#mapContainer {
  flex: 3.5;
  height: 100vh;
}

/* #menu {
background: #fff;
position: absolute;
z-index: 1;
top: 10px;
right: 10px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}

#menu a:last-child {
border: none;
}

#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}

#menu a.active {
background-color: #3887be;
color: #ffffff;
}

#menu a.active:hover {
background: #3074a4;
} */

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  margin-left: 200px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 430px;
  padding: 20px;
  margin-top: 20px;
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
}

#legend {
  background-color: #fff;
border-radius: 3px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 10px;
bottom: 50px;
margin-left:50px;
width: 170px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
